/* File: src/Components/Login/Login.css */

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff; /* Light background */
}

.login-container {
    background-color: #fff;
    padding: 90px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgb(1 1 1 / 90%);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-left: 300%;
}

.login-container h1 {
    font-size: 28px;
    margin-bottom: 10px;
    background: linear-gradient(16deg, #4b90ff, #ff5546);
    border-radius: 20px;
    color: #fff;

}

.login-container p {
    color: #888;
    margin-bottom: 30px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-container input {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

.login-container button {
    padding: 15px;
    background-color: #1a73e8; /* Google Blue */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #155bb5;
}

.signup-link {
    margin-top: 20px;
    font-size: 14px;
}